* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
}

section {
    padding: 75px 150px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main .content {
    max-width: 800px;
    z-index: 1;
}

.main .content h2 {
    color: black;
    font-size: 50px;
    font-weight: 500;
}

.main .content h2 span {
    font-size: 2.6em;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box1 {
    background-color: rgba(255, 192, 3, 0.85);
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    height: auto;
}

.box1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
}

.column.col-left {
    margin-right: 20px;
}

.column.col-right {
    flex: 1;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3 {
    color: black;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0%, 100% { margin-top: 0; }
    25%, 75% { margin-top: -70px; }
    50% { margin-top: -140px; }
}

.media-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.media-icons a {
    margin: 10px;
    font-size: 50px;
    color: black;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

.media-icons a:hover {
    color: white;
    transform: scale(1.2);
}

header {
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header.sticky {
    background: #ffc003;
    padding: 10px 200px;
}

header .brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s ease-in-out;
}

header.sticky .brand {
    color: black;
}

header .navigation a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    padding: 15px;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    border-radius: 5px;
    transition: color 0.3s, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

header .navigation a:hover,
header.sticky .navigation a:hover {
    color: #ffc003;
    background-color: black;
    transform: scale(1.1);
}

header.sticky .navigation a {
    color: #000;
    padding: 10px 15px;
}

header.sticky .navigation a:hover {
    color: #fff;
}

.about {
    position: relative;
    background-color: #ffc003;
    color: black;
    padding: 75px 300px;
}

.about::after {
    content: '';
    position: absolute;
    bottom: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 4px;
    height: 5px;
    background-color: black;
}

.skills {
    background-color: black;
}

.skills h2 {
    color: #ffc003;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.coding-languages h3,
.other-skills h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffc003;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skill-card {
    background-color: #ffc003;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 20px #ffc003;
    background-color: #ffcc03;
    transition: transform 0.3s ease-in-out;
}


h4 {
    padding-bottom: 10px;
    font-size: 20px;
}

.circle-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 10px solid black;
}

@media (max-width: 768px) {
    section {
        padding: 50px 20px;
    }

    .media-icons a {
        font-size: 20px;
        margin: 5px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .coding-languages,
    .other-skills {
        width: 90%;
    }
}

.projects{
    background-color: #ffc003;
}

.projects .title::after{
    width: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    content: "  projects   ";
}
.text{
    color: #ffcc03;
}
.proj-description{
    color: #ffc003;
}
.proj {
    position: relative;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:  60px;
}

.proj::before{

    content: '';
    justify-content: start ;
    position: absolute;
    top: 56px;
    left: 40%;
    width: 20%;
    height: 5px;
    background: black;
    border-radius: 4px;
}



.projects .carousel .card{
    background: black;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}


.projects .carousel .card:hover{
    background: rgb(38, 3, 99);
    color: #ffcc03;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: #fff;
}
