.circle-image {
    border-radius: 50%;
        width: 300px;
    height: 300px;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans';
}

section{
    padding: 100px 200px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    z-index: 1; /* Ensure content is on top of the video */
}

.box1 {
    background-color: #ffc003;
    color: black;
    opacity: 0.75;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
}


.content {
    display: flex; /* Use flexbox to align columns */
    align-items: center; /* Vertically center the content */
}

.column.col-left {
    margin-right: 20px; /* Add some space between the image and text */
}

.column.col-right {
    flex: 1; /* Ensure the text takes up the remaining space */
}

h2 {
    text-align: center;
    font-size: 40px;
}

section{
    padding: 75px 150px;
}


